@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.footer {
    position: sticky;
    top: 100%;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}